<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPSI Dashboard</title>
    <link rel="stylesheet" href="/static/style2.css">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/da11f279bc.js" crossorigin="anonymous"></script>

    <!--Chart JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
</head>
<body>
{% block content %}


{% endblock %}
</body>

</html>