{% extends 'base.html' %}

{% load static%}


{% block content %}


   <!-- Section : Grade -->
    <section class="grade">
        <h1>Choisissez votre année</h1>
        <div class="cards">
            {% for results in grade %}
            <div class="card">
                <div class="grade_select card{{results.grade_code}}">
                    <h2>{{results.grade}}</h2>
                </div>
                <div class="rhombus">
                    <i class="fas fa-angle-double-down"></i>
                </div>
                <div>
                    <a href="{% url 'grade' results.grade %}" class="button">
                        <span>

                            Click

                        </span>
                    </a>
                </div>
            </div>
            {%endfor%}
    </section>
{% endblock %}
