{% extends 'base.html' %}
{% load static%}

{% block content %}

    <!-- Section : Survey -->
    <section class="survey">
        <div class="information">
            {% for result in professeur %}

            <h1>{{result.professeur}}</h1>
            <h2>{{result.cours_donne}}</h2>
            <h3>{{result.grade}}</h3>

            {% endfor%}

            <div class="rhombus">
                <i class="fas fa-angle-double-down"></i>
            </div>
            <div class="frame frame_left_top"></div>
            <div class="frame frame_right_top"></div>


        </div>
    <form action = "/epsi/{{professeur.0.grade}}/{{professeur.0.idx}}/success/" method="post">

        {% csrf_token%}

        <div class="survey_content">
            <!--1-->
            <div class="textarea">
                <div class="question question_textarea">
                    <p>    {{question.0}} </p>
                </div>
                <div class="answer answer_textarea">
                    <textarea name="content1" id="content1" cols="40" rows="5" class="textarea_content"></textarea>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--2-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.1}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question2" id="question2_1" value="Pas Satisfait" required>
                        <label for="question2_1">Pas Satisfait</label>
                        <input type="radio" name="question2" id="question2_2" value="Peu Satisfait" required>
                        <label for="question2_2">Peu Satisfait</label>
                        <input type="radio" name="question2" id="question2_3" value="Assez Satisfait" required>
                        <label for="question2_3">Assez Satisfait</label>
                        <input type="radio" name="question2" id="question2_4" value="Très Satisfait" required>
                        <label for="question2_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question2" id="question2_5" value="Pas Satisfait" required>
                        <label for="question2_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question2" id="question2_6" value="Peu Satisfait" required>
                        <label for="question2_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question2" id="question2_7" value="Assez Satisfait" required>
                        <label for="question2_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question2" id="question2_8" value="Très Satisfait" required>
                        <label for="question2_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--3-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.2}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question3" id="question3_1" value="Pas Satisfait" required>
                        <label for="question3_1">Pas Satisfait</label>
                        <input type="radio" name="question3" id="question3_2" value="Peu Satisfait" required>
                        <label for="question3_2">Peu Satisfait</label>
                        <input type="radio" name="question3" id="question3_3" value="Assez Satisfait" required>
                        <label for="question3_3">Assez Satisfait</label>
                        <input type="radio" name="question3" id="question3_4" value="Très Satisfait" required>
                        <label for="question3_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question3" id="question3_5" value="Pas Satisfait" required>
                        <label for="question3_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question3" id="question3_6" value="Peu Satisfait" required>
                        <label for="question3_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question3" id="question3_7" value="Assez Satisfait" required>
                        <label for="question3_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question3" id="question3_8" value="Très Satisfait" required>
                        <label for="question3_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--4-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.3}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question4" id="question4_1" value="Pas Satisfait" required>
                        <label for="question4_1">Pas Satisfait</label>
                        <input type="radio" name="question4" id="question4_2" value="Peu Satisfait" required>
                        <label for="question4_2">Peu Satisfait</label>
                        <input type="radio" name="question4" id="question4_3" value="Assez Satisfait" required>
                        <label for="question4_3">Assez Satisfait</label>
                        <input type="radio" name="question4" id="question4_4" value="Très Satisfait" required>
                        <label for="question4_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question4" id="question4_5" value="Pas Satisfait" required>
                        <label for="question4_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question4" id="question4_6" value="Peu Satisfait" required>
                        <label for="question4_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question4" id="question4_7" value="Assez Satisfait" required>
                        <label for="question4_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question4" id="question4_8" value="Très Satisfait" required>
                        <label for="question4_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--5-->
            <div class="textarea">
                <div class="question question_textarea">
                    <p>    {{question.4}} </p>
                </div>
                <div class="answer answer_textarea">
                    <textarea name="content2" id="content2" cols="40" rows="5" class="textarea_content"></textarea>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--6-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.5}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question5" id="question5_1" value="Pas Satisfait" required>
                        <label for="question5_1">Pas Satisfait</label>
                        <input type="radio" name="question5" id="question5_2" value="Peu Satisfait" required>
                        <label for="question5_2">Peu Satisfait</label>
                        <input type="radio" name="question5" id="question5_3" value="Assez Satisfait" required>
                        <label for="question5_3">Assez Satisfait</label>
                        <input type="radio" name="question5" id="question5_4" value="Très Satisfait" required>
                        <label for="question5_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question5" id="question5_5" value="Pas Satisfait" required>
                        <label for="question5_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question5" id="question5_6" value="Peu Satisfait" required>
                        <label for="question5_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question5" id="question5_7" value="Assez Satisfait" required>
                        <label for="question5_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question5" id="question5_8" value="Très Satisfait" required>
                        <label for="question5_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--7-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.6}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question6" id="question6_1" value="Pas Satisfait" required>
                        <label for="question6_1">Pas Satisfait</label>
                        <input type="radio" name="question6" id="question6_2" value="Peu Satisfait" required>
                        <label for="question6_2">Peu Satisfait</label>
                        <input type="radio" name="question6" id="question6_3" value="Assez Satisfait" required>
                        <label for="question6_3">Assez Satisfait</label>
                        <input type="radio" name="question6" id="question6_4" value="Très Satisfait" required>
                        <label for="question6_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question6" id="question6_5" value="Pas Satisfait" required>
                        <label for="question6_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question6" id="question6_6" value="Peu Satisfait" required>
                        <label for="question6_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question6" id="question6_7" value="Assez Satisfait" required>
                        <label for="question6_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question6" id="question6_8" value="Très Satisfait" required>
                        <label for="question6_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--8-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.7}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question7" id="question7_1" value="Pas Satisfait" required>
                        <label for="question7_1">Pas Satisfait</label>
                        <input type="radio" name="question7" id="question7_2" value="Peu Satisfait" required>
                        <label for="question7_2">Peu Satisfait</label>
                        <input type="radio" name="question7" id="question7_3" value="Assez Satisfait" required>
                        <label for="question7_3">Assez Satisfait</label>
                        <input type="radio" name="question7" id="question7_4" value="Très Satisfait" required>
                        <label for="question7_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question7" id="question7_5" value="Pas Satisfait" required>
                        <label for="question7_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question7" id="question7_6" value="Peu Satisfait" required>
                        <label for="question7_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question7" id="question7_7" value="Assez Satisfait" required>
                        <label for="question7_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question7" id="question7_8" value="Très Satisfait" required>
                        <label for="question7_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--9-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.8}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question8" id="question8_1" value="Pas Satisfait" required>
                        <label for="question8_1">Pas Satisfait</label>
                        <input type="radio" name="question8" id="question8_2" value="Peu Satisfait" required>
                        <label for="question8_2">Peu Satisfait</label>
                        <input type="radio" name="question8" id="question8_3" value="Assez Satisfait" required>
                        <label for="question8_3">Assez Satisfait</label>
                        <input type="radio" name="question8" id="question8_4" value="Très Satisfait" required>
                        <label for="question8_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question8" id="question8_5" value="Pas Satisfait" required>
                        <label for="question8_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question8" id="question8_6" value="Peu Satisfait" required>
                        <label for="question8_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question8" id="question8_7" value="Assez Satisfait" required>
                        <label for="question8_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question8" id="question8_8" value="Très Satisfait" required>
                        <label for="question8_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--10-->
            <div class="textarea">
                <div class="question question_textarea">
                    <p>    {{question.9}} </p>
                </div>
                <div class="answer answer_textarea">
                    <textarea name="content3" id="content3" cols="40" rows="5" class="textarea_content"></textarea>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--11-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.10}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question9" id="question9_1" value="Pas Satisfait" required>
                        <label for="question9_1">Pas Satisfait</label>
                        <input type="radio" name="question9" id="question9_2" value="Peu Satisfait" required>
                        <label for="question9_2">Peu Satisfait</label>
                        <input type="radio" name="question9" id="question9_3" value="Assez Satisfait" required>
                        <label for="question9_3">Assez Satisfait</label>
                        <input type="radio" name="question9" id="question9_4" value="Très Satisfait" required>
                        <label for="question9_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question9" id="question9_5" value="Pas Satisfait" required>
                        <label for="question9_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question9" id="question9_6" value="Peu Satisfait" required>
                        <label for="question9_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question9" id="question9_7" value="Assez Satisfait" required>
                        <label for="question9_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question9" id="question9_8" value="Très Satisfait" required>
                        <label for="question9_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--12-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.11}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question10" id="question10_1" value="Pas Satisfait" required>
                        <label for="question10_1">Pas Satisfait</label>
                        <input type="radio" name="question10" id="question10_2" value="Peu Satisfait" required>
                        <label for="question10_2">Peu Satisfait</label>
                        <input type="radio" name="question10" id="question10_3" value="Assez Satisfait" required>
                        <label for="question10_3">Assez Satisfait</label>
                        <input type="radio" name="question10" id="question10_4" value="Très Satisfait" required>
                        <label for="question10_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question10" id="question10_5" value="Pas Satisfait" required>
                        <label for="question10_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question10" id="question10_6" value="Peu Satisfait" required>
                        <label for="question10_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question10" id="question10_7" value="Assez Satisfait" required>
                        <label for="question10_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question10" id="question10_8" value="Très Satisfait" required>
                        <label for="question10_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--13-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.12}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question11" id="question11_1" value="Pas Satisfait" required>
                        <label for="question11_1">Pas Satisfait</label>
                        <input type="radio" name="question11" id="question11_2" value="Peu Satisfait" required>
                        <label for="question11_2">Peu Satisfait</label>
                        <input type="radio" name="question11" id="question11_3" value="Assez Satisfait" required>
                        <label for="question11_3">Assez Satisfait</label>
                        <input type="radio" name="question11" id="question11_4" value="Très Satisfait" required>
                        <label for="question11_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question11" id="question11_5" value="Pas Satisfait" required>
                        <label for="question11_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question11" id="question11_6" value="Peu Satisfait" required>
                        <label for="question11_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question11" id="question11_7" value="Assez Satisfait" required>
                        <label for="question11_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question11" id="question11_8" value="Très Satisfait" required>
                        <label for="question11_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--14-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.13}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question12" id="question12_1" value="Pas Satisfait" required>
                        <label for="question12_1">Pas Satisfait</label>
                        <input type="radio" name="question12" id="question12_2" value="Peu Satisfait" required>
                        <label for="question12_2">Peu Satisfait</label>
                        <input type="radio" name="question12" id="question12_3" value="Assez Satisfait" required>
                        <label for="question12_3">Assez Satisfait</label>
                        <input type="radio" name="question12" id="question12_4" value="Très Satisfait" required>
                        <label for="question12_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question12" id="question12_5" value="Pas Satisfait" required>
                        <label for="question12_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question12" id="question12_6" value="Peu Satisfait" required>
                        <label for="question12_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question12" id="question12_7" value="Assez Satisfait" required>
                        <label for="question12_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question12" id="question12_8" value="Très Satisfait" required>
                        <label for="question12_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

            <!--15-->
            <div class="qcm">
                <div class="question question_qcm">
                    <p>    {{question.14}}</p>
                </div>
                <div class="answer answer_qcm">
                    <div class="qcm_mobile">
                        <input type="radio" name="question13" id="question13_1" value="Pas Satisfait" required>
                        <label for="question13_1">Pas Satisfait</label>
                        <input type="radio" name="question13" id="question13_2" value="Peu Satisfait" required>
                        <label for="question13_2">Peu Satisfait</label>
                        <input type="radio" name="question13" id="question13_3" value="Assez Satisfait" required>
                        <label for="question13_3">Assez Satisfait</label>
                        <input type="radio" name="question13" id="question13_4" value="Très Satisfait" required>
                        <label for="question13_4">Très Satisfait</label>
                    </div>

                    <div class="debt-amount-slider">
                        <input type="radio" name="question13" id="question13_5" value="Pas Satisfait" required>
                        <label for="question13_5" data-debt-amount="Pas Satisfait"></label>
                        <input type="radio" name="question13" id="question13_6" value="Peu Satisfait" required>
                        <label for="question13_6" data-debt-amount="Peu Satisfait"></label>
                        <input type="radio" name="question13" id="question13_7" value="Assez Satisfait" required>
                        <label for="question13_7" data-debt-amount="Assez Satisfait"></label>
                        <input type="radio" name="question13" id="question13_8" value="Très Satisfait" required>
                        <label for="question13_8" data-debt-amount="Très Satisfait"></label>
                        <div class="debt-amount-pos"></div>
                    </div>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>

             <!--16-->
            <div class="textarea">
                <div class="question question_textarea">
                    <p>    {{question.15}} </p>
                </div>
                <div class="answer answer_textarea">
                    <textarea name="content4" id="content4" cols="40" rows="5" class="textarea_content"></textarea>
                </div>
            </div>

            <div>
                <hr class="separator">
            </div>


        </div>
        <input type="submit" value="Envoyer" class="envoyer">
    </form>
    </section>



    <section class="for_frame">
        <div class="frame frame_left_bottom"></div>
        <div class="frame frame_right_bottom"></div>
    </section>


{%endblock %}
