{% extends 'base2.html' %}

{% load static%}


{% block content %}

    <!-- Grade -->
    <section class="glassmorphism">
        <div class="container">

        {% for results in grade %}
            <div class="card card{{results.grade_code}}">
                <div class="content">
                    <div class="contentBx">
                        <h2>{{results.grade}}</h2>
                    </div>

                    <div class="imgBx"><a href="{% url 'grade2' results.grade_code %}"><img src="/static/annee{{results.grade_code}}.png"></a></div>

                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="#" class="button"><i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </li>
                    <li style="--i:2">
                        <a href="{% url 'grade2' results.grade_code %}" class="button_click"> Suivant
                        </a>
                    </li>
                </ul>
            </div>
        {%endfor%}

        </div>
    </section>

{% endblock %}